.wrapper {
  width: 80%;
  max-width: 50%;

  display: flex;
  margin-top: 50px;
  align-items: center;
  border-radius: 0.5rem;
  margin: 50px auto;
  overflow: hidden;
  flex-direction: column;
  background-color: #000000;
  background-color: 100;
  
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 10px #fff, 0 0 10px #38eeff,
    0 0 40px #38eeff;

  animation: dlink 12s infinite;
  -webkit-animation: dlink 5s infinite;
  
  border: 3px solid #ffffff;
}

.tableHeader {
  width: 100%;
  height: 100px;
  background-color: #000000;
  color: #f1f1f3;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  justify-content: space-between;
  padding: 10px 40px;
  border-bottom: 3px solid #ffffff;
  font-family: 'Handjet', sans-serif;
}

.rows {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;
}

.amountTitle {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #ffffff;
  font-family: 'Handjet', sans-serif;
}

.addressTitle {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #ffffff;
  font-family: 'Handjet', sans-serif;
}

.noPlayers {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-family: 'Handjet', sans-serif;
}


@-webkit-keyframes dlink {
  20%,
  24%,
  55% {
    color: #111;
    box-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow: 0 0 2px #ffa500, 0 0 8px #ffa500, 0 0 7px #ffa500,
      0 0 6px #ffa500, 0 0 4px #ff0000, 0 0 5px #ff8d00, 0 0 30px #ff0000;
    color: #fff6a9;
  }
}